<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Office Chat App</title>
    <style>
        /* General Styles */
        body {
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            background-color: #CDFFEC;
            margin: 0;
            padding: 0;
        }

        h1 {
            font-family: 'Raleway', sans-serif;
            font-weight: 100;
            max-width: 400%;
            margin: 0 auto;
            color: red;
        }

        /* Container */
        .container {
            text-align: center;
            padding: 100px;
        }

        /* Button Styles */
        .button {
            font-family: 'Raleway', sans-serif;
            font-weight: 100;
            display: block;
            margin: 20px auto;
            padding: 20px 20px;  /* Increased vertical padding */
            background-color: white;
            color: red;
            text-decoration: none;
            border: none;
            border-radius: 100px;
            width: 500px;
        }

        .first-button {
            margin-top: 100px;
        }

        /* Responsive Styles */
        @media (max-width: 768px) {
            .button {
                padding: 16px 16px;  /* Adjusted for smaller screens */
                font-size: 14px;
                width: 150px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to My Office Chat App</h1>
        <a href="/login" class="button first-button">Login</a>
        <a href="/register" class="button">Register</a>
    </div>
</body>
</html>
